<html>
<head>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <title>Dimensionally reduced machine learning model for predicting single component octanol–water partition coefficients</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #cfcfcf;">
    <img src="https://firebasestorage.googleapis.com/v0/b/mf-logp.appspot.com/o/WPI_Inst_Prim_FulClr.png?alt=media&token=3bd8fe93-405e-43eb-bae1-61c1a6323044" width="120px" class="mx-3">


      
      <img src="https://firebasestorage.googleapis.com/v0/b/mf-logp.appspot.com/o/dynamicsLab.png?alt=media&token=29580227-b420-402c-8eba-8d1cc3731999" width="200px" class="mx-3">
  
  </nav>
  <div style="display: flex; background-size: cover; background-color: #C3102F;">
    <span class="mx-auto my-auto py-5 text-center col-8">
       <h2 class="text-center my-auto pt-5" style="color: white">Dimensionally reduced machine learning model for predicting single component octanol–water partition coefficients</h2>
    <h6 class="text-center my-auto pb-5" style="color: rgb(185, 185, 185); font-style: italic;">A Companion Application</h6>
    </span>
   
    <!-- <img class="img mx-auto" src="https://firebasestorage.googleapis.com/v0/b/mass-academy-sign-in-system.appspot.com/o/Y1cover.png?alt=media&token=c8a5e777-315e-48d8-9f11-fc4b31f94f47"> -->
  </div>

    <div class="mx-auto col-8 ">
      <br><br>
      <h4><span class="header mt-3 banner">Overview</span></h4>
      <p>
        This is a companion application for the Molecular Formula LOGP (MF-LOGP) algorithm that can predict single component partition coefficients for organic compounds simply with its molecular formula. Click <a href="https://jcheminf.biomedcentral.com/articles/10.1186/s13321-022-00660-1" target="0" style="color: #C3102F">here</a> to see the full published article in the Journal of Cheminformatics.

      </p>
      <br>
      <h4><span class="header mt-3 banner text-center">Instructions</span></h4>
      <p>
        To use the web application, please type the formula of interest into the "Molecular Formula Input" box. To seperate multiple molecular formula, please use a single line for each unique molecular formula entry. Once all formulas are formated properly, press "Calculate" to run the MF-LOGP algorithm. The "Clear" button will remove all entries, and the "Export as CSV" will export the imported formulas and calculated partition coefficients as a table within a csv file.
      </p>
      <br>
      <p>For all questions, contact Dr. Andrew Teixeira at <a href="mailto:arteixeira@wpi.edu" style="color: #C3102F">arteixeira@wpi.edu</a>.</p>
    </div>

    <form method = "post" enctype="multipart/form-data" class="col text-center mt-5 justify-content-center">
      <div class="row text-center justify-content-center">
<div class="form-group col-3">
      <label for="exampleFormControlTextarea1">Molecular Formula Input</label>
      <textarea type="file" name="text" class="form-control" id="exampleFormControlTextarea1" rows="8" cols="40" style="white-space: nowrap; overflow-y: hidden;">{{input}}</textarea>
    </div>
    <div class="col-2 text-center align-middle mt-2 pt-5">
      <button type="submit" class="btn btn-secondary" formaction="/predict">Calculate</button>
      <br><br>

      <button class="btn btn-danger none"><a href="/clear" class="none" style="color: white!important;">Clear</a></button>
      <br><br>
      <button class="btn btn-dark none" formaction="/csvDownload">Export as CSV</button>
    </div>
    <div class="form-group col-3">
      <label for="exampleFormControlTextarea1">Model Predictions</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="result" rows="8" readonly>{{result}}</textarea>
    </div>


      </div>
      
    </form>
    

    <br>
    <footer class="page-footer font-small blue pt-4" style="background-color: black;">
      <div class="container-fluid text-center">
          <div class="row mx-5 mb-3">
              <div class="mt-3 mx-auto">
              <img
            src="https://firebasestorage.googleapis.com/v0/b/mf-logp.appspot.com/o/WPI_Inst_Prim_FulClr.png?alt=media&token=3bd8fe93-405e-43eb-bae1-61c1a6323044"
            width="100"
            class="d-inline-block align-top mx-2"
            alt="React Bootstrap logo"
          /></div>
          <div class="col-6 mt-4 align-middle justify-center " style="display: inline;">
                  <ul class="list-unstyled mx-auto px-0 mx-0 align-middle" style="display: inline-block;">
                   
                      <li style="display: inline-block;"><a class="mx-3 test" href="#top" style="color: #ffffff;">Home</a></li>
                      <li style="display: inline-block;"><a class="mx-3" target="0" href="https://jcheminf.biomedcentral.com/articles/10.1186/s13321-022-00660-1" style="color: #ffffff;">Publication</a></li>
                      <li style="display: inline-block;"><a class="mx-3" href="https://www.dynamics-lab.net/" target="0" style="color: #ffffff;">Dynamics Lab</a></li>

                  </ul>
              </div>
              
  
  
              
          </div>
      </div>
  
      <div class="footer-copyright text-center py-3" style="color: white;">Web application built by 
        <a href="https://github.com/Tarune28" target="0" style="color: #C3102F;">Tarun Eswar</a> | Model developed by David Kenney
      </div>
  
  </footer>
    <!-- <footer class="bg-light text-center text-lg-start">

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Web application built by 
        <a class="text-dark" href="https://github.com/Tarune28">Tarun Eswar, 2023.</a>
        <br>
        Model developed by
        <a class="text-dark" href="https://github.com/Tarune28">David Kenney, 2023.</a>
      </div>
  
    </footer> -->


</body>
</html>
